body {
  background-color: #eee;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-weight: 400;
}

#card-block {
  margin: auto;
  margin-top: 100px;
  width: 600px;
  border: 1px solid #000;
  box-shadow: 0 0 10px 5px #6e9a78;
}

#answers {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 20px;
}

.answer {
  display: flex;
  padding: 5px 10px;
  border: 1px solid #6e9a78;
  cursor: pointer;
}

.answer:hover {
  color: white;
  background-color: #6e9a78;
  transition: 0.25s;
}

.correct {
  color: white;
  background-color: #6e9a78;
  transition: 0.15s;
}